# ignore node_modules
node_modules

# ignore build folders
jsBuild
build

# ignore config
config.js

# ignore .git folder
.git

old

# Ignore Gradle project-specific cache directory
.gradle

# ignore the gradle build folder
gradleBuild

# ignore the testing folder
testing