# ignore node_modules
node_modules

# ignore js build folder
jsBuild

# ignore config
config.js

# ignore .git folder
.git

old

# Ignore Gradle project-specific cache directory
.gradle

# ignore the gradle build folder
gradleBuild
