# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore the bin folder vscode keeps creating
bin

# Ignore the config
config.yaml
